# {{ filename }}
#
# https://github.com/casey/just

var := "hello, world"


# show available commands
help:
  @just -l


# do something longer using a variable
echo:{% raw %}
    #!/usr/bin/env bash
    set -euxo pipefail
    if [ "{{var}}" != "false" ] ; then
        echo "{{var}}"
    fi
{% endraw %}

# do something shorter using a variable
echo-short:{% raw %}
    @[ "{{var}}" != "false" ] && echo "{{var}}"
{% endraw %}

# use an argument
say-hi name="world":{% raw %}
    @echo "hi, {{name}}"
{% endraw %}

# vim: ft=just
